################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Website/bin/Debug/netcoreapp2.2
/Website/obj
